*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.app{
    margin: 20px;
}

.card{
    padding: 40px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: white;
    transition: all 0.2s;
}

.box{
    background: white;
    transition: all 0.2s;
}

.card:hover{
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}
.box:hover{
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
}