.button{
    display: flex;
    align-items: center;
    cursor: pointer;
    column-gap: 10px;
    position: relative;
    padding: 7px 20px;
    border-radius: 40px;
    color: white;
    overflow: hidden;
    .button-text{
        font-size: 12px;
        font-weight: 600;
        user-select: none;
    }

    .button-icon{
        font-size: 15px;
    }
}

.button-bg{
    position: absolute;
    z-index: -1;
    width: 100%;
    left:0;
    top:0;
    height: 100%;
    background-color: blue;
}


.button-hover:hover .button-bg{
    opacity: 0.75;
}

.button-hover:active .button-bg{
    opacity: 0.9;
}

.buttons{
    margin-bottom: 40px;
    width: fit-content;
}