$grey : rgb(228, 228, 228);
$darkGrey : rgb(148, 148, 148);

.admin-left{
    row-gap: 25px !important;
    padding-top: 10px !important;
}

.admin-icon{
    svg{
        font-size: 17px !important;
    }
}