.profile-pic {
  width: 200px;
  height: 200px;
}

.profile-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.d {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  position: relative;
  overflow: visible !important;
}

.edit-btn {
  position: absolute;
  background: white;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: black;
  right: -5px;
  top: -5px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  display: none;
  cursor: pointer;
}

.d:hover .edit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.profile-labels h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.d1 {
  background: -webkit-gradient(linear, left top, right bottom, from(#1c98d1), to(blue));
  background: linear-gradient(to right bottom, #1c98d1, blue);
}

.d2 {
  background: -webkit-gradient(linear, left top, right top, from(#ee560f), to(#ff0458));
  background: linear-gradient(to right, #ee560f, #ff0458);
}

.profile-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
}

.profile-inputs input {
  font-size: 12px;
  background: none;
  border: none;
  outline: none;
  color: white;
}

.profile-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  height: 200px;
}

.explore-section {
  margin-top: 60px;
}

.explore-section h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.user-profile-cards {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.user-profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
  width: 150px;
  height: 150px;
}

.user-profile-card h4 {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */